.row{
    background-color: black;
}
li{
    font-size: x-large;
}
.moviePoster{
    display: flex;
    justify-content: center;
}

h2{
    color: #9EFF00;
    text-shadow: 0 0 5px #9EFF00,  0 0 15px #9EFF00;
}

div{
    background-color: #343434;
}

@font-face {
    font-family: 'poppins';
    src: url(../../fonts/Poppins-SemiBold.ttf);
}

*{
    font-family: 'poppins';
}

.content{
    overflow-x: hidden;
}

.w-inherit{
    width: inherit;
}

.maxWidth{
    max-width: 100%;
}

.paginationContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}