.background{
    background-color: #343434;
    min-height: 100vh;
}

@font-face {
    font-family: 'poppins';
    src: url(../../../fonts/Poppins-SemiBold.ttf);
}

*{
    font-family: 'poppins';
}

.content{
    overflow-x: hidden;
}

.w-inherit{
    width: inherit;
}

.maxWidth{
    max-width: 100%;
}